### django template
#ide settings
.vscode/
.idea/

#python
__pycache__/

#Media
media/

#Static
static/

#Secret environment variables
.env

#sqlite3
db.sqlite3

#coverage
.coverage
htmlcov/

#Docker
docker/

#Qudona jetbrains
.github/
qodana.yaml

#Backups bd
backups/

#Celery Beat
celerybeat-schedule
