### django template
#ide settings
.vscode/
.idea/

#python
__pycache__/

#Media
media/

#Static
static/

#Secret environment variables
.env

#sqlite3
db.sqlite3

#coverage
.coverage
htmlcov/

#Writerside
Writerside/cfg
Writerside/images

#configuration
docker/
docker/env/

.github/
qodana.yaml
