### django template
#ide settings
.vscode/
.idea/

#python
__pycache__/

#Media
media/

#Secret environment variables
.env

#sqlite3
db.sqlite3

#coverage
.coverage
htmlcov/

#Writerside
Writerside/cfg
Writerside/images
